<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>username</key>
	<string>unnamed player</string>
	<key>unlockplayers</key>
	<array>
		<string>0</string>
	</array>
	<key>coins</key>
	<integer>4000</integer>
	<key>score</key>
	<integer>0</integer>
	<key>playertype</key>
	<integer>0</integer>
</dict>
</plist>
